# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# Go
vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build Output
main

# Documentation
*.md
