global:
  scrape_interval: 5s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "microservice"
    metrics_path: "/metrics"
    static_configs:
      - targets: ["microservice:3000"]
